Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
django-environ>=0.11,<0.12
django-cors-headers>=4.4,<5.0
psycopg2-binary>=2.9,<2.10
drf-spectacular>=0.27,<0.28
openpyxl>=3.1,<4.0
djangorestframework-simplejwt>=5.3,<6.0
whitenoise>=6.7,<7.0
cryptography>=42,<45
